<div id="app" data-user="<%= @user %>">

</div>


<div class="facebook-login">

  <div class="column row">
    <center>
      <div id="user-widget">
        <% if current_user %>
          You Are Signed In As <strong><%= current_user.name %></strong><br>
          <%= link_to "Sign out", signout_path, id: "sign_out" %>
        <% else %>
          <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
        <% end %>
      </div>
    </center>
  </div>

</div>
