@import "foundation_and_overrides";

@import url(https://fonts.googleapis.com/css?family=Exo|Tinos);

@import url('https://fonts.googleapis.com/css?family=Courgette|Damion|PT+Sans+Caption|Ubuntu|Voltaire');

/* NAVIGATION BAR STYLING */

.top-bar  {
  overflow: hidden;
  top: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 1px 3px #888888;
}

.top-bar.nav {
  background-color: #fff;
  width: 100%;
  z-index: 10;
}

.top-bar li {
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 2px;
  font-size: 22px;
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  padding: 10px 15px;
  margin-top: 4px;
}

.top-bar a {
  color: #47677a;
}

.top-bar-left li:hover {
  font-weight: bold;
}

#search-box {
  background-color: white;
  border: 1px solid #939598;
  padding-right: 20px;
}

#submit-box {
  background-color: white;
  border: 1px solid #47677a;
  color: #47677a;
}

#submit-box:hover {
  background-color: #47677a;
  border: 1px solid #47677a;
  color: #fff;
}

#submit-box.button {
  height: 39px;
  margin-bottom: 1px;
}

.menu>li:nth-child(1){
  padding-right: 0px;
  padding-left: 0px;
}

.menu>li:nth-child(2){
  padding-right: 75px;
  padding-left: 0px;
}


/*MOBILE NAVIGATION BAR*/

.title-bar {
  width: 100%;
  margin-top: 0;
  /*background-color: #47677a;*/
  background-color: #fff;
  height: 68px;
  padding: 0px;
  box-shadow: 0px 0px 5px #888888;
}

.title-bar .menu-icon {
  margin-left: 15px;
  font-size: 1.5em;
}

.title-bar-title {
  margin-top: 15px;
  margin-left: 5px;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 2px;
}

.title-bar img {
  float: center;
}

.list-item {
  font-family: 'Ubuntu', sans-serif;
  border-top: 1px solid #cacaca;
  color: #47677a;
  font-weight: bold;
}

.list-item:last-child {
  border-bottom: 1px solid #cacaca;
}

.list-item a {
  color: #1f3033;
  letter-spacing: 2px;
  font-size: 20px;
  margin-top: 14px;
  margin-bottom: 14px;
  margin-left: 20px;
}

.list-item a:hover {
  color: #cacaca;
}

.mobile-menu-toggle {
  border-right: 1px solid #1F3033;
  height: 68px;
  width: 80px;
}

.mobile-menu-toggle button {
  height: 68px;
}

.mobile-logo {
  display: inline;
  margin-left: 6%;
  overflow: hidden;
}

#profile-icon {
  margin-right: 0px;
  float: right;
}

.mobile-menu-profile {
  border-left: 1px solid #1F3033;
  height: 68px;
  width: 80px;
}


/*NAVIGATION BAR LOGO*/

#logo {
  display: inline;
  margin: 0;
  padding: 0;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 5px;
  margin-left: 20px;
  text-align: center;
}

#logo2 {
  display: inline;
  margin: 0;
  padding: 0;
  margin-top: 2px;
  margin-bottom: -5px;
  margin-right: 5px;
  margin-left: 0px;
}

/*NAVIGATION BAR ICONS */

#profile {
  margin-right: 50px;
  margin-left: -80px;
  display: none;
}

/*MAIN CONTAINER BELOW NAV*/

.main-content {
  margin-top: 80px;
  width: 100%;
}

.image {
   position: relative;
   margin-top: 80px;
   width: 100%;
   background: url("./geo-hero.png")
}

.image h1 {
   position: absolute;
   top: 200px;
   left: 0;
   width: 100%;
   text-align: center;
   font-family: 'Ubuntu', sans-serif;
   font-size: 80px;
}

/*FOOTER STYLING */

.footer {
  display: none;
  overflow: hidden;
  width:  100%;
  position: relative;
  text-align: center;
  background-color: #47677a;
  margin-bottom: 0px;
  margin-top: 100px;
  padding-top: 70px;
  padding-bottom: 70px;
}

#footer-area li {
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 2px;
  font-size: 22px;
  text-transform: uppercase;
  list-style-type: none;
  color: white;
}

.footer>ul:nth-child(1) {
  border-right: 1px solid white;
}

.footer-bar  {
  bottom: 0;
  background-color: #78868e;
}

.footer-bar.nav {
  background-color: #fff;
  width: 100%;
}

.footer-bar a {
  color: white;
}

.footer-bar li {
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 2px;
  font-size: 22px;
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  padding: 10px 15px;
  margin-top: 4px;
}

.footer-bar-left li:hover {
  font-weight: bold;
}

.menu>li:nth-child(1){
  padding-right: 0px;
  padding-left: 0px;
}

.menu>li:nth-child(2){
  padding-right: 75px;
  padding-left: 0px;
}

.nav-bar-right {
  margin-left: 50px;
}


/*BOTTOM EMAIL SIGNUP*/

#email-search-box {
  background-color: white;
  border: 1px solid white;
  right: 0px;
  float: left;
  width: 70%;
}

#email-submit-box {
  background-color: #47677a;
  border: 1px solid white;
  color: white;
  right: 0px;
  width: 25%;
}

#email-submit-box:hover {
  background-color: #77848b;
  border: 1px solid #fff;
  color: #fff;
}

#email-submit-box.button {
  height: 39px;
  margin-bottom: 1px;
}

#loop {
  text-align: left;
}

/*FORM STYLING */


.information {
  background: linear-gradient(45deg, #002f4b 0%, transparent 100%), url("./geo-hero.png") no-repeat center;
  opacity: 0.8;
  background-size: cover;
  width: 100%;
  position: relative;
  z-index: -5;
}

.form {
  position: absolute;
  z-index: 1;
  width: 100%;
}

.form-position {
  margin-bottom: 80px;
  margin-top: 80px;
}

.form-style {
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.form-style label {
  font-weight: bold;
  color: #fff;
  font-size: 16px;
}

.form-style input {
  background-color: transparent;
  border: 2px solid white;
}

.form-button {
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: transparent;
  border: 2px solid white;
  font-weight: bold;
}

.information h3 {
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  font-weight: bold;
}


/*FORM LEFT SIDE DESCRIPTION STYLING */

.information h2 {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  letter-spacing: 3px;
  color: white;
  font-weight: bold;
}

.information h5 {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.description li {
  letter-spacing: 2px;
  font-size: 14.25px;
  text-transform: uppercase;
  color: white;
  line-height: 5.2;
  font-weight: bold;
  border-top: 2px solid white;
  list-style-type: none;
}

.form-position.description ul {
  margin-top: -25px;
}

.form-position.description li:first-child {
  border-top: 0px solid white;
  text-align: center;
  letter-spacing: 3px;
}

.form-position.description li:last-child {
  border-bottom: 2px solid white;
}

.form-position {
  width: 45%;
}

/*MOBILE HOMEPAGE STYLING */

#mobile-greeting {
  width: 95%;
}

#mobile-greeting h2 {
  font-size: 32px;
}

#mobile-greeting li {
  font-size: 63%;
  text-transform: uppercase;
  color: white;
  line-height: 5;
  font-weight: bold;
  border-top: 2px solid white;
  list-style-type: none;
  letter-spacing: 1px;
}

#mobile-greeting li:first-child {
  text-align: center;
  border-top: 0px;
  font-size: 100%;
}

#mobile-greeting ul {
  margin-top: -76px;
}

/*HERO CONTAINER */

.hero-text {
  font-family: 'Ubuntu', sans-serif;
  margin: 10%;
  text-align: left;
  color: white;
}

.hero-text h1 {
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
}

.hero-text h4 {
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 2px;
  margin-top: -10px;
  font-weight: bold;
}

#get-started-button {
  font-family: 'Ubuntu', sans-serif;
  background-color: transparent;
  border: 2px solid white;
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: 4px;
}

.hero-text button:hover {
  background-color: #1f3033;
}

.information.row {
  text-align: center;
}

/*NEW NAV BAR STYLING*/

.nav-bar-div {
  overflow: hidden;
  top: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 1px 3px #888888;
  text-align: center;
}

.small-3.large-1.columns.menu {
  height: 68px;
  text-align: right;
}

.small-3.large-1.columns.menu-profile {
  height: 68px;
  text-align: center;
}

.small-3.large-1.columns.profile {
  height: 68px;
  text-align: right;
}

.small-3.large-1.columns.profile {
  height: 68px;
  text-align: center;
}

.nav-bar-div.row span {
  margin-left: 0px;
  text-align: center;
  margin: 20px;
}

#nav-logo img {
  margin: 12px;
  text-align: center;
}

#logo-center {
  align-items: center;
  text-align: center;
  width: 100%;
}

#nav-logo-mobile img {
  margin-top: 18px;
  margin-bottom: 18px;
}

#menu-icon-div {
  left: 0;
  right: 0;
  border-right: 1px solid #cacaca;
  height: 68px;
  margin-left: 0px;
}

#menu-profile-div {
  border-left: 1px solid #cacaca;
}

#menu-icon-div {
  position: absolute;
  left: 0px;
}

#menu-profile-div {
  position: absolute;
  right: 0px;
}

#nav-menu-icon img {
  margin-top: 22px;
  height: 21px;
  width: 36px;
}

#menu-icon-div img {
  margin-top: 22px;
}

#nav-profile-icon img {
  margin-top: 18px;
}

#dropdown-menu {
  position: absolute;
  z-index: 0;
  width: 100%;
  background-color: white;
}


/*MOVIE CARD STYLING */

.searchbox {
  margin-top: 70px;
  margin-bottom: -211px;
}

#poster img {
  float: left;
  display: inline;
  margin-right: 20px;
}

#movie-search-form {
  margin-top: 100px;
}

#media-input-box {
  display: inline;
  width: 84.75%;
  border: 1px solid black;
  box-shadow: none;
  height: 52px;
  text-transform: capitalize;
  margin-bottom: 8px;
}

#media-search-button {
  border: 1px solid black;
  background-color: white;
  height: 52px;
  width: 117px;
  border-left: 0px;
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  display: inline;
  letter-spacing: 1px;
  font-size: 18px;
  outline: none;
}

#media-save-button {
  border: 1px solid black;
  background-color: white;
  height: 52px;
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  float: right;
  display: inline;
  letter-spacing: 1px;
  font-size: 18px;
  outline: none;
}

#media-save-button:hover {
  background-color: #e6e6e6;
}

#media-search-button:hover {
  background-color: #e6e6e6;
}

.search-component h2 {
  margin-top: 20px;
  margin-bottom: -50px;
}

/*ABOUT US PAGE STYLING*/

.about h1, h2, h3, h4, h5, p {
  font-family: 'Ubuntu', sans-serif;
  color: black;
}

.about h1 {
  margin-top: 0px;
}

.new-mobile-menu {
  overflow: hidden;
  top: 0;
  width: 100%;
}

.hidden {
  display: none;
}

// FACEBOOK LOGIN PAGE STYLING

.facebook-login {
  background: linear-gradient(45deg, #002f4b 0%, transparent 100%), url("./geo-hero.png") no-repeat center;
  opacity: 0.8;
  background-size: cover;
  width: 100%;
  position: relative;
  z-index: 0;
  height: 400px;
  height: 100%;
}

.facebook-react-page h1 {
  font-family: 'Ubuntu', sans-serif;
}

#user-widget {
  font-family: 'Ubuntu', sans-serif;
  margin-top: 200px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  font-size: 200%;
}

#user-widget a{
  margin-top: 30px;
  padding: 4px 10px;
  border: 3px solid white;
  color: white;
  font-size: 100%;
}

.hidden {
  display: none;
}

// MOVIE TILE STYLING
#search-box-all {
  margin-bottom: 211px;
}

#movie-info {
  position: inherit;
}

#movie-info h2 {
  width: 60%;
  margin-right: 0px;
  display: inline;
}

#movie-row {
  background-color: #f4f4f4;
  padding: 5px;
  padding-top: 17px;
  padding-bottom: 17px;
  margin-top: 10px;
  margin-right: 0px;
  margin-left: 0px;
  text-overflow: ellipsis;
  height: 260px;
}

// @media screen and (min-width: 40em) {
//   #movie-row img {
//     margin-bottom: 40px;
//     float: center;
//     text-align: center;
//   }
// }

#movie-row p {
  overflow: hidden;
  position: relative;
  line-height: 1.65em;
  max-height: 8.25em;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
  margin-bottom: 0px;
}

#movie-row h5 {
  margin-bottom: 0px;
}

#movie-row p:before {
  content: '...';
  position: absolute;
  right: 0;
  bottom: 0;
}

#movie-row p:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: #f4f4f4;
}

// PROFILE STYLING

#profile-main-div {
  margin-top: 30px;
}

.profile-container {
  overflow: hidden;
  top: 0;
  width: 100%;
  background: linear-gradient(45deg, #e0e0e0 0%, transparent 100%), url("./geo-hero.png") no-repeat center;
  background-size: cover;
  margin-top: -27.4px;
  margin-bottom: 20px;
  box-shadow: 0px 1px 3px #888888;
}

#profile-picture img {
  max-width: 300%;
  width: 210px;
  margin-top: 30px;
  margin-bottom: 30px;
  top: 300px;
  margin-left: 80px;
  max-width: 1200px;
  border: 2px solid white;
  box-shadow: 0px 0px 6px #888888;
  object-fit: cover;
  width:210px;
  height:210px;
}

#profile-picture h3 {
  width: 300px;
}

#user-name {
  margin-top: 174px;
  margin-bottom: 0px;
  text-align: left;
}

#user-name p {
  font-size: 120%;
  margin-top: -9px;
}

#go-to-top {
  position: fixed;
  margin-right: 10px;
  margin-bottom: 3px;
  bottom: 0;
  right: 0;
}

#sign-in-up {

}
// LIST STYLING

#delete-media-button {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
  float: right;
  color: white;
  position: relative;
  clear: both;
  text-align: right;
  outline: none;
}

#offset-column {
  margin-left: 0px;
}

#list-button {
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 95%;
  padding: 15px 25px;
  border: 1px solid black;
  font-size: 20px;
  float: right;
  outline: none;
  margin-bottom: 8px;
}

#list-button-active {
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 95%;
  padding: 15px 25px;
  border: 1px solid black;
  font-size: 20px;
  background-color: #e6e6e6;
  float: right;
  outline: none;
  margin-bottom: 8px;
}

#create-button {
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 95%;
  padding: 15px 25px;
  border: 1px solid black;
  font-size: 20px;
  outline: none;
  float: right;
}

#create-button:hover {
  background-color: #e6e6e6;
}

#list-button:hover {
  background-color: #e6e6e6;
}

.search {
  margin-top: -62px;
}

.list-card {
  display: inline;
  outline: none;
}

.list-card p {
  height: 52px;
  margin-bottom: 0px;
  vertical-align: middle;
  margin-top: 5px;
  outline: none;
}

.list-card img {
  margin-top: 17px;
  outline: none;
}

.show {
  outline: none;
}

// AREA BELOW HERO

#info-area {
  margin-top: 50px;
  float: center;
  text-align: center;
}

#info-area h5 {
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  color: #333333;
}

#get-started-button-info {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 30px 50px;
  font-size: 140%;
  color: #333333;
  font-family: 'Ubuntu', sans-serif;
  background-color: transparent;
  border: 2px solid #333333;
  font-weight: bold;
  letter-spacing: 2px;
}

#get-started-button-info:hover {
  background-color: #e6e6e6;
}

#started-area {
  text-transform: uppercase;
  position: absolute;
  margin-left: 0 auto;
  margin-right: 0 auto;
  width: 100%;
  margin-top: 40px;
  border-top: 2px solid #333333;
  text-align: center;
}

#hidden {
  display: none;
}

// ALL USERS DISPLAY

#profile-picture-all-users {
  text-align: center;
  background-color: #dddddd;
  margin-top: 50px;
  letter-spacing: 1px;
  border-right: 10px solid white;
}

#profile-picture-all-users h4 {
  text-transform: uppercase;
  font-size: 140%;
  margin-top: 5px;
}

#profile-picture-all-users p {
  margin-top: -10px;
}

#profile-picture-all-users img {
  max-width: 300%;
  margin-top: 50px;
  width: 210px;
  border: 2px solid white;
  object-fit: cover;
  width:210px;
  height:210px;
}
