@import "foundation_and_overrides";

@import url(https://fonts.googleapis.com/css?family=Exo|Tinos);

@import url('https://fonts.googleapis.com/css?family=Courgette|Damion|PT+Sans+Caption|Ubuntu|Voltaire');

@import url('https://fonts.googleapis.com/css?family=Dosis|Istok+Web|Slabo+27px');

/* NAVIGATION BAR STYLING */

.top-bar  {
  overflow: hidden;
  top: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 1px 3px #888888;
  position: fixed;
}

.vertical-menu {
  position: relative;
}

.top-bar.nav {
  background-color: #fff;
  width: 100%;
  z-index: 10;
}

.top-bar li {
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 2px;
  font-size: 22px;
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  padding: 10px 15px;
  margin-top: 4px;
}

.top-bar a {
  color: #47677a;
}

.top-bar-left li:hover {
  font-weight: bold;
}

#search-box {
  background-color: white;
  border: 1px solid #939598;
  padding-right: 20px;
}

#submit-box {
  background-color: white;
  border: 1px solid #47677a;
  color: #47677a;
}

#submit-box:hover {
  background-color: #47677a;
  border: 1px solid #47677a;
  color: #fff;
}

#submit-box.button {
  height: 39px;
  margin-bottom: 1px;
}

.menu>li:nth-child(1){
  padding-right: 0px;
  padding-left: 0px;
}

.menu>li:nth-child(2){
  padding-right: 75px;
  padding-left: 0px;
}


/*MOBILE NAVIGATION BAR*/

.title-bar {
  width: 100%;
  margin-top: 0;
  /*background-color: #47677a;*/
  background-color: #fff;
  height: 68px;
  padding: 0px;
  box-shadow: 0px 0px 5px #888888;
}

.title-bar .menu-icon {
  margin-left: 15px;
  font-size: 1.5em;
}

.title-bar-title {
  margin-top: 15px;
  margin-left: 5px;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 2px;
}

.title-bar img {
  float: center;
}

.list-item {
  font-family: 'Ubuntu', sans-serif;
  border-top: 1px solid #cacaca;
  color: #47677a;
  font-weight: bold;
}

.list-item:last-child {
  border-bottom: 1px solid #cacaca;
}

.list-item a {
  color: #1f3033;
  letter-spacing: 2px;
  font-size: 20px;
  margin-top: 14px;
  margin-bottom: 14px;
  margin-left: 20px;
}

.list-item a:hover {
  color: #cacaca;
}

.mobile-menu-toggle {
  border-right: 1px solid #1F3033;
  height: 68px;
  width: 80px;
}

.mobile-menu-toggle button {
  height: 68px;
}

.mobile-logo {
  display: inline;
  margin-left: 6%;
  overflow: hidden;
}

#profile-icon {
  margin-right: 0px;
  float: right;
}

.mobile-menu-profile {
  border-left: 1px solid #1F3033;
  height: 68px;
  width: 80px;
}


/*NAVIGATION BAR LOGO*/

#logo {
  display: inline;
  margin: 0;
  padding: 0;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 5px;
  margin-left: 20px;
  text-align: center;
}

#logo2 {
  display: inline;
  margin: 0;
  padding: 0;
  margin-top: 2px;
  margin-bottom: -5px;
  margin-right: 5px;
  margin-left: 0px;
}

/*NAVIGATION BAR ICONS */

#profile {
  margin-right: 50px;
  margin-left: -80px;
  display: none;
}

/*MAIN CONTAINER BELOW NAV*/

#facebook-permission {
  color: black;
  font-size: 30%;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: -5px;
}

.main-content {
  margin-top: 80px;
  width: 100%;
}

.image {
   position: relative;
   margin-top: 80px;
   width: 100%;
   background: url(image-path('geo-hero.png'));
}

.image h1 {
   position: absolute;
   top: 200px;
   left: 0;
   width: 100%;
   text-align: center;
   font-family: 'Ubuntu', sans-serif;
   font-size: 80px;
}

/*FOOTER STYLING */

.footer {
  display: none;
  overflow: hidden;
  width:  100%;
  position: relative;
  text-align: center;
  background-color: #47677a;
  margin-bottom: 0px;
  margin-top: 100px;
  padding-top: 70px;
  padding-bottom: 70px;
}

#footer-area li {
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 2px;
  font-size: 22px;
  text-transform: uppercase;
  list-style-type: none;
  color: white;
}

.footer>ul:nth-child(1) {
  border-right: 1px solid white;
}

.footer-bar  {
  bottom: 0;
  background-color: #78868e;
}

.footer-bar.nav {
  background-color: #fff;
  width: 100%;
}

.footer-bar a {
  color: white;
}

.footer-bar li {
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 2px;
  font-size: 22px;
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  padding: 10px 15px;
  margin-top: 4px;
}

.footer-bar-left li:hover {
  font-weight: bold;
}

.menu>li:nth-child(1){
  padding-right: 0px;
  padding-left: 0px;
}

.menu>li:nth-child(2){
  padding-right: 75px;
  padding-left: 0px;
}

.nav-bar-right {
  margin-left: 50px;
}


/*BOTTOM EMAIL SIGNUP*/

#email-search-box {
  background-color: white;
  border: 1px solid white;
  right: 0px;
  float: left;
  width: 70%;
}

#email-submit-box {
  background-color: #47677a;
  border: 1px solid white;
  color: white;
  right: 0px;
  width: 25%;
}

#email-submit-box:hover {
  background-color: #77848b;
  border: 1px solid #fff;
  color: #fff;
}

#email-submit-box.button {
  height: 39px;
  margin-bottom: 1px;
}

#loop {
  text-align: left;
}

/*FORM STYLING */

.toggle-hero h3 {
  color: white;
  letter-spacing: 2px;
  margin-top: -38px;
}

.information {
  background: linear-gradient(45deg, #002f4b 0%, transparent 100%), url(image-path('geo-hero.png')) no-repeat center;
  opacity: 0.8;
  background-size: cover;
  width: 100%;
  position: relative;
  z-index: 10;
  margin-top: 0px;
}

.information-two {
  background: linear-gradient(45deg, #002f4b 0%, transparent 100%), url(image-path('poster2.png')) no-repeat center;
  opacity: 0.8;
  background-size: cover;
  width: 100%;
  position: relative;
  z-index: 10;
  margin-top: 0px;
}

.form {
  position: absolute;
  z-index: 1;
  width: 100%;
}

.form-position {
  margin-bottom: 80px;
  margin-top: 80px;
}

.form-style {
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.form-style label {
  font-weight: bold;
  color: #fff;
  font-size: 16px;
}

.form-style input {
  background-color: transparent;
  border: 2px solid white;
}

.form-button {
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: transparent;
  border: 2px solid white;
  font-weight: bold;
}

.information h3 {
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  font-weight: bold;
}


/*FORM LEFT SIDE DESCRIPTION STYLING */

.information h2 {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  letter-spacing: 3px;
  color: white;
  font-weight: bold;
}

.information h5 {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.information h4 {
  color: black;
}

.information-two h4 {
  color: black;
}

.description li {
  letter-spacing: 2px;
  font-size: 14.25px;
  text-transform: uppercase;
  color: white;
  line-height: 5.2;
  font-weight: bold;
  border-top: 2px solid white;
  list-style-type: none;
}

.form-position.description ul {
  margin-top: -25px;
}

.form-position.description li:first-child {
  border-top: 0px solid white;
  text-align: center;
  letter-spacing: 3px;
}

.form-position.description li:last-child {
  border-bottom: 2px solid white;
}

.form-position {
  width: 45%;
}

/*MOBILE HOMEPAGE STYLING */

#mobile-greeting {
  width: 95%;
}

#mobile-greeting h2 {
  font-size: 32px;
}

#mobile-greeting li {
  font-size: 63%;
  text-transform: uppercase;
  color: white;
  line-height: 5;
  font-weight: bold;
  border-top: 2px solid white;
  list-style-type: none;
  letter-spacing: 1px;
}

#mobile-greeting li:first-child {
  text-align: center;
  border-top: 0px;
  font-size: 100%;
}

#mobile-greeting ul {
  margin-top: -76px;
}

/*HERO CONTAINER */



.hero-text {
  font-family: 'Ubuntu', sans-serif;
  margin: 10%;
  text-align: left;
  color: white;
}

.hero-text h1 {
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
}

.hero-text h4 {
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 2px;
  margin-top: -10px;
  font-weight: bold;
}

#get-started-button {
  font-family: 'Ubuntu', sans-serif;
  background-color: transparent;
  border: 2px solid white;
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: 4px;
  outline: none;
  text-transform: uppercase;
  color: white;
  padding-right: 10px;
}

#get-started-button:hover {
  background-color: white;
  color: black;
}

#get-started-button-two {
  font-family: 'Ubuntu', sans-serif;
  background-color: transparent;
  border: 2px solid #333333;
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: 28px;
  outline: none;
  text-transform: uppercase;
  color: #333333;
  padding-right: 10px;
}

#get-started-button-two:hover {
  background-color: #333333;
  color: white;
}

.hero-text button:hover {
  background-color: #1f3033;
}

.information.row {
  text-align: center;
}

/*NEW NAV BAR STYLING*/

.nav-bar-div {
  overflow: hidden;
  top: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 1px 3px #888888;
  text-align: center;
  position: fixed;
  z-index: 40;
}

.small-3.large-1.columns.menu {
  height: 68px;
  text-align: right;
}

.small-3.large-1.columns.menu-profile {
  height: 68px;
  text-align: center;
}

.small-3.large-1.columns.profile {
  height: 68px;
  text-align: right;
}

.small-3.large-1.columns.profile {
  height: 68px;
  text-align: center;
}

.nav-bar-div.row span {
  margin-left: 0px;
  text-align: center;
  margin: 20px;
}

#nav-logo img {
  margin: 12px;
  text-align: center;
}

#logo-center {
  align-items: center;
  text-align: center;
  width: 100%;
  z-index: 100;
}

#nav-logo-mobile img {
  margin-top: 18px;
  margin-bottom: 18px;
}

#menu-icon-div {
  left: 0;
  right: 0;
  border-right: 1px solid #cacaca;
  height: 68px;
  margin-left: 0px;
}

#menu-icon-div {
  position: absolute;
  left: 0px;
}

#menu-profile-div {
  border-left: 1px solid #cacaca;
  position: absolute;
  right: 0px;
}

#menu-profile-div img {
  border-radius: 50%;
}

#nav-menu-icon img {
  margin-top: 22px;
  height: 21px;
  width: 36px;
}

#menu-icon-div img {
  margin-top: 22px;
}

#nav-profile-icon img {
  margin-top: 18px;
}

#dropdown-menu {
  position: fixed;
  top: 67px;
  width: 100%;
  background-color: white;
  z-index: 40;
}


/*MOVIE CARD STYLING */

.searchbox {
  margin-top: 70px;
  margin-bottom: -211px;
}

.searchbox-hidden {
  margin-top: -203px;
}

.create-hidden {
  display: none;
}

#poster img {
  float: left;
  display: inline;
  margin-right: 20px;
}

#movie-search-form {
  margin-top: 100px;
}

#media-input-box {
  display: inline;
  width: 84.75%;
  border: 1px solid black;
  box-shadow: none;
  height: 52px;
  text-transform: capitalize;
  margin-bottom: 8px;
}

#media-search-button {
  border: 1px solid black;
  background-color: white;
  height: 52px;
  width: 117px;
  border-left: 0px;
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  display: inline;
  letter-spacing: 1px;
  font-size: 128%;
  outline: none;
}

#media-save-button {
  border: 1px solid black;
  background-color: white;
  height: 52px;
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  float: right;
  display: inline;
  letter-spacing: 1px;
  font-size: 18px;
  outline: none;
}

// SMALL SCREEN ONLY
@media screen and (max-width: 39.9375em) {
  #media-input-box {
    display: inline;
    border: 1px solid black;
    box-shadow: none;
    height: 52px;
    text-transform: capitalize;
    margin-bottom: 8px;
    width: 95%;
    padding-left: 10px;
  }

  #list-button {
    margin-left: 0px;
  }

  #search-label {
    text-align: right;
  }

  #media-search-button {
    border: 1px solid black;
    background-color: white;
    height: 52px;
    width: 95%;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    display: inline;
    letter-spacing: 1px;
    font-size: 18px;
    outline: none;
    margin-bottom: 8px;
  }

}

// BETWEEN SMALL AND MEDIUM SIZE
@media screen and (min-width: 39.9375em) and (max-width: 63.9375em){
  #media-input-box {
    display: inline;
    width: 95%;
    border: 1px solid black;
    box-shadow: none;
    height: 52px;
    text-transform: capitalize;
    margin-bottom: 8px;
  }

  #list-button {
    margin-left: 0px;
  }

  #search-label {
    text-align: right;
  }

  #media-search-button {
    border: 1px solid black;
    background-color: white;
    height: 52px;
    width: 95%;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    display: inline;
    letter-spacing: 1px;
    font-size: 18px;
    outline: none;
    margin-bottom: 8px;
  }

  #see-all-users {
    top: 228px;
  }

  #see-all-users a {
    top: 228px;
  }
}

// MEDIUM SCREEN ONLY
@media screen and (min-width: 64em) and (max-width: 75em) {
  #media-input-box {
    display: inline;
    width: 100%;
    border: 1px solid black;
    box-shadow: none;
    height: 52px;
    text-transform: capitalize;
    margin-bottom: 8px;
    float: center;
  }

  #list-button {
    margin-left: 0px;
  }

  #search-label {
    text-align: right;
  }

  #media-search-button {
    border: 1px solid black;
    background-color: white;
    height: 52px;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    display: inline;
    letter-spacing: 1px;
    font-size: 18px;
    outline: none;
    float: center;
    margin-bottom: 8px;
  }
}

#media-save-button:hover {
  background-color: #e6e6e6;
}

#media-search-button:hover {
  background-color: #e6e6e6;
}

.search-component h2 {
  margin-top: 20px;
  margin-bottom: -50px;
}

/*ABOUT US PAGE STYLING*/

.about h1, h2, h3, h4, h5, p {
  font-family: 'Ubuntu', sans-serif;
  color: black;
}

.about h1 {
  margin-top: 0px;
}

.new-mobile-menu {
  overflow: hidden;
  top: 0;
  width: 100%;
}

.hidden {
  display: none;
}

// FACEBOOK LOGIN PAGE STYLING

.facebook-react-page h1 {
  font-family: 'Ubuntu', sans-serif;
}

#user-widget {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  margin: 200px;
  font-size: 200%;
  color: #333333;
}

#user-widget a {
  padding: 4px 10px;
  border: 3px solid white;
  font-size: 100%;
  color: #333333;
  padding: 10px 18px;
  border: 2px solid #333333;
  margin-top: 50px;
}

#user-widget a:hover {
  background-color: #333333;
  color: white;
}

.hidden {
  display: none;
}

.login-display h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 20px;
  color: #333333;
}

.login-display img {
  object-fit: cover;
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

#fb-login {
  background: linear-gradient(180deg, #b4bcc1 0%, transparent 100%);
  background-size: cover;
  width: 100%;
  overflow: hidden;
}

#login-button-fb a {
  border: 0px;
  text-align: center;
}

#login-button-fb a:hover {
  background-color: transparent;
}

@media screen and (max-width: 39.9375em) {
  #login-button-fb a {
    width: 800px;
  }

  #user-widget {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin: 100px;
    font-size: 200%;
    color: #333333;
    margin-left: 55px;
  }

  #user-widget img {
    padding: 0;
  }

  #sign_in {
    width: 40px;
  }

}

// MOVIE TILE STYLING
#search-box-all {
  margin-bottom: 211px;
}

#movie-info {
  position: inherit;
}

#movie-info h2 {
  width: 60%;
  margin-right: 0px;
  display: inline;
}

#movie-row {
  background-color: #f4f4f4;
  padding: 5px;
  padding-top: 17px;
  padding-bottom: 17px;
  margin-top: 10px;
  margin-right: 0px;
  margin-left: 0px;
  text-overflow: ellipsis;
  cursor: pointer;
  border: 1px solid #f4f4f4;
}

#movie-row:hover {
  border: 1px solid #333333;
}

.toggle-hero {
  cursor: pointer;
}

#movie-row p {
  overflow: hidden;
  position: relative;
  line-height: 1.65em;
  max-height: 8.25em;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
  margin-bottom: 0px;
  cursor: pointer;
}

#movie-row h5 {
  margin-bottom: 0px;
}

#movie-row p:before {
  content: '...';
  position: absolute;
  right: 0;
  bottom: 0;
}

#movie-row p:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: #f4f4f4;
}

// PROFILE STYLING

#profile-main-div {
  margin-top: 0px;
}

.profile-container {
  overflow: hidden;
  top: 0;
  width: 100%;
  background: linear-gradient(45deg, #e0e0e0 0%, transparent 100%), url(image-path('geo-hero.png')) no-repeat center;
  background-size: cover;
  margin-bottom: 20px;
  border-bottom: 50px solid white;
  box-shadow: 0px 1px 0px #cacaca;
  height: 215px;
}

#profile-picture {
  text-align: center;
}

#profile-picture img {
  text-align: center;
  float: center;
  max-width: 300%;
  width: 210px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 57px;
  top: 300px;
  max-width: 1200px;
  border: 4px solid white;
  box-shadow: 1px 1px 0px #cacaca;
  object-fit: cover;
  width:210px;
  height:210px;
  position: absolute;
  top: 70px;
}

#profile-picture h3 {
  width: 300px;
}

#user-name {
  margin-top: 206px;
  margin-bottom: 0px;
  text-align: left;
}

@media screen and (max-width: 39.9375em) {
  #user-name {
    margin-top: -13px;
    margin-bottom: 7px;
    text-align: center;
    font-size: 115%;
  }

  #user-name h3 {
    font-size: 31px;
  }

  #profile-picture {
    text-align: center;
  }

  #profile-picture img {
    margin-top: 30px;
    margin-bottom: 30px;
    top: 300px;
    border: 2px solid white;
    box-shadow: 0px 0px 6px #888888;
    object-fit: cover;
    width:210px;
    height:210px;
    margin-left: 0px;
  }

}

@media screen and (min-width: 40em) and (max-width: 63.95em) {
  #user-name {
    margin-top: -13px;
    margin-bottom: 7px;
    text-align: center;
    font-size: 115%;
  }

  #user-name h3 {
    font-size: 31px;
  }

  #profile-picture {
    text-align: center;
  }

  #profile-picture img {
    margin-top: 30px;
    margin-bottom: 30px;
    top: 300px;
    border: 2px solid white;
    box-shadow: 0px 0px 6px #888888;
    object-fit: cover;
    width:210px;
    height:210px;
    margin-left: 0px;
  }
}

#user-name p {
  font-size: 120%;
  margin-top: -9px;
}

#go-to-top {
  position: fixed;
  margin-right: 10px;
  margin-bottom: 3px;
  bottom: 0;
  right: 0;
  z-index: 30;
}

#see-all-users {
  right: 1%;
  top: 233px;
  position: absolute;
  color: black;
}

#see-all-users a {
  color: #333333;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-left: 10px;
}

// BETWEEN SMALL AND MEDIUM SIZE
@media screen and (min-width: 39.9375em) and (max-width: 63.9375em){
  #see-all-users {
    top: 336px;
  }

  #name-button-hidden {
    border-right: 0px solid;
    outline: none;
  }

}

#see-all-users {
  font-size: 110%;
}

// LIST STYLING

#delete-media-button {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: -10px;
  float: right;
  position: relative;
  clear: both;
  text-align: right;
  outline: none;
  color: transparent;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 1px;
  font-size: 80%;
}

#delete-media-button:hover {
  color: black;
  background-color: #f4f4f4;
  padding-left: 3px;
}

#add-media-button {
  margin-top: -88px;
  margin-right: 10px;
  float: right;
  position: relative;
  clear: both;
  text-align: right;
  outline: none;
  display: inline;
}

.delete-media-button-hidden {
  display: none;
}

#offset-column {
  margin-left: 0px;
}

#list-button {
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 95%;
  padding: 15px 25px;
  border: 1px solid black;
  font-size: 20px;
  float: right;
  outline: none;
  margin-bottom: 8px;
}

#list-button-active {
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 95%;
  padding: 15px 25px;
  border: 1px solid black;
  font-size: 20px;
  background-color: #e6e6e6;
  float: right;
  outline: none;
  margin-bottom: 8px;
}

#create-button {
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 95%;
  padding: 15px 25px;
  border: 1px solid black;
  font-size: 20px;
  outline: none;
  float: right;
}

#create-button:hover {
  background-color: #e6e6e6;
}

#list-button:hover {
  background-color: #e6e6e6;
}

.search {
  margin-top: -62px;
}

.list-card {
  display: inline;
  outline: none;
}

.list-card p {
  height: 52px;
  margin-bottom: 0px;
  vertical-align: middle;
  margin-top: 5px;
  outline: none;
}

.list-card img {
  margin-top: 17px;
  outline: none;
}

.show {
  outline: none;
}

// AREA BELOW HERO

#home-gif {
  border: 1px solid #cacaca;
  height: 360px;
}

#home-gif-small-one {
  border: 1px solid #cacaca;
  margin-top: -31px;
}

#home-gif-small {
  border: 1px solid #cacaca;
}

.info-area-half {
  border-bottom: 1px solid #cacaca;
  width: 100%;
}

#half-fb-button {
  line-height: 100px;
}

#info-area-title {
  margin-top: 18px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #333333;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
}

#info-area-title h2 {
  color: #333333;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
}

#info-area-one {
  text-align: center;
  margin-top: 45px;
  margin-bottom: 35px;
}

#info-area-description-one {
  border: 1px solid #cacaca;
  padding: 0px;
  height: 360px;
}

.info-outer {
  padding-right: 15px;
  padding-left: 15px;
}

#info-area-description-one img {
  margin-top: 30px;
}

#info-area-description-two {
  border: 1px solid #cacaca;
  padding: 0px;
  height: 360px;
}

#info-area-description-two img {
  margin-top: 30px;
}

#get-recommendations {
  border-bottom: 1px solid #cacaca;
  padding-bottom: 30px;
}

#info-area-gif-column {
  height: 360px;
}

#name-your-list {
  border-bottom: 1px solid #cacaca;
  padding-bottom: 15px;
}

#info-area-one h3 {
  color: #333333;
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 1px solid #cacaca;
  padding: 10px;
}

#info-area-one-small {
  margin-top: 40px;
  text-align: center;
}

#info-area-two-small {
  margin-top: 40px;
  text-align: center;
}

#info-area-one-small image {
  text-align: center;
}

#info-area-two-small image {
  text-align: center;
}

#info-area-one-small h4 {
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  color: #333333;
  font-size: 90%;
}

#info-area-two-small h4 {
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  color: #333333;
  font-size: 68%;
}

#info-area-one h4 {
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  color: #333333;
}

#info-area-two {
  margin-top: 35px;
  text-align: center;
  margin-bottom: 45px;
}

#info-area-two h3 {
  color: #333333;
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 1px solid #cacaca;
  padding: 10px;
}

#info-area-two h4 {
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  color: #333333;
}

#get-started-button-info {
  margin-top: 57px;
  margin-bottom: 50px;
  padding: 20px 40px;
  font-size: 140%;
  color: #333333;
  font-family: 'Ubuntu', sans-serif;
  background-color: transparent;
  border: 2px solid #333333;
  font-weight: bold;
  letter-spacing: 2px;
  outline: none;
}

#get-started-button-info:hover {
  background-color: #333333;
  color: white;
}

#started-area {
  text-transform: uppercase;
  position: absolute;
  margin-left: 0 auto;
  margin-right: 0 auto;
  width: 100%;
  text-align: center;
  background: linear-gradient(180deg, #eaeaea 0%, #fff 100%)
}

#hidden {
  display: none;
}

#sign-in {
  border: 0px;
}

// ALL USERS DISPLAY

#user-search-bar {
  padding: 0px;
  margin-left: 5px;
  width: 99%;
  margin-top: 15px;
}

#user-search-bar input {
  margin-top: 30px;
  border: 0px;
  border-bottom: 1px solid #cacaca;
  box-shadow: none;
  height: 52px;
  text-transform: capitalize;
}

#user-search-bar input::placeholder {
  font-family: 'Ubuntu', sans-serif;
  font-size: 140%;
  color: #cacaca;
}

#profile-picture-all-users {
  text-align: center;
  background-color: #f4f4f4;
  letter-spacing: 1px;
  border: 5px solid white;
}

#profile-picture-all-users h4 {
  text-transform: uppercase;
  font-size: 140%;
  margin-top: 5px;
}

#profile-picture-all-users p {
  margin-top: -10px;
}

#profile-picture-all-users img {
  max-width: 300%;
  margin-top: 50px;
  width: 210px;
  border: 2px solid white;
  object-fit: cover;
  width:210px;
  height:210px;
}

.callout-alert {
  height: 52px;
  margin-top: 7px;
  border: 1px solid #99141b;
  // background-color: #f9cecd;
 }

.callout-alert li {
 margin-top: 12px;
 list-style-type: none;
 margin-left: 12px;
 text-transform: uppercase;
 font-family: 'Ubuntu', sans-serif;
 letter-spacing: 2px;
 color: #99141b;
}

#hidden {
  display: none;
}

#show-popup {
  background-color: white;
  box-shadow: 0px 0px 8px #888888;
  position: absolute;
  top: 14.5%;
  left: 25%;
  right: 25%;
  padding: 20px;
  z-index: 30;
  padding-top: 10px;
}

#rec-popup {
  background-color: white;
  box-shadow: 0px 0px 8px #888888;
  position: fixed;
  top: 12%;
  left: 25%;
  right: 25%;
  padding: 20px;
  z-index: 30;
  padding-top: 10px;
  height: 600px;
  overflow-y: scroll;
}

#follow-popup-title-rec {
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline;
  position: fixed;
  top: 12%;
}

#rec-x {
  position: fixed;
  top: 13.6%;
  float: right;
  right: 32%;
  z-index: 35;
}

.follower-info {
  background-color: #f4f4f4;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.follower-info img {
  object-fit: cover;
  width: 50px;
  height: 50px;
}

.follower-info:hover {
  background-color: #e6e6e6;
}

#follow-button {
  letter-spacing: 1px;
  height: 50px;
  border-right: 1px solid #cacaca;
  border-left: 1px solid #cacaca;
  padding-right: 10px;
  padding-left: 10px;
  outline: none;
}

#follow-button-not-signed {
  letter-spacing: 1px;
  height: 50px;
  border-right: 1px solid #cacaca;
  padding-right: 10px;
  padding-left: 10px;
  outline: none;
  font-weight: bold;
  outline: none;
}

#follow-button:hover {
  background-color: #e6e6e6;
}

#followers-button {
  letter-spacing: 1px;
  height: 50px;
  border-right: 1px solid #cacaca;
  padding-right: 10px;
  padding-left: 10px;
  outline: none;
}

#followers-button:hover {
  background-color: #e6e6e6;
}

#name-button {
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-right: 10px;
  padding-left: 10px;
  font-weight: bold;
}

#name-button-hidden {
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-right: 10px;
  padding-left: 10px;
  font-weight: bold;
  height: 50px;
  outline: none;
}


#list-div {
  margin-top: 26px;
}

#offset-column {
  margin-top: 26px;
}

#follow-popup-title {
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline;
}

#popup-x {
  display: inline;
  text-align: right;
  right: 18px;
  top: 10px;
  position: absolute;
}

.rec-popup {
  width: 40%;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: absolute;
  top: 25%;
  margin: 0 auto;
  display: inline;
}

.rec-popup img {
  display: inline;
}

.rec-popup h4 {
  display: inline;
  margin: 0px;
  font-family: 'Ubuntu', sans-serif;
}

#rec-tile {
  padding: 12px;
  background-color: #f4f4f4;
  margin-bottom: 10px;
}

// SMALL SCREEN ONLY
@media screen and (max-width: 39.9375em) {

  #started-area {
    margin-top: 40px;
  }

  .rec-popup {
    text-align: center;
    font-size: 80%;
    width: 50%;
    display: block;
  }

  .rec-popup img {
    text-align: center;
    display: block;
    margin-left: 25%;
  }

  .rec-popup h4 {
    text-align: center;
    display: block;
    margin-bottom: 15px;
  }

  #add-media-button {
    right: 40%;
    margin-top: -40px;
  }

  #rec-x {
    position: fixed;
    top: 13.25%;
    float: right;
    right: 27.3%;
    z-index: 35;
  }

  #follow-button {
    border-right: 0px;
  }

  #followers-button {
    display: none;
  }

  #search-icon {
    display: none;
  }

  #follow-button-not-signed {
    border-right: 0px solid black;
    margin-right: 20px;
  }

  #see-all-users {
    top: 338px;
    right: 0;
    left: auto;
    margin-left: auto;
    position: absolute;
  }

  .profile-container {
    height: 318px;
  }

  #profile-picture img {
    text-align: center;
    float: center;
    max-width: 300%;
    width: 210px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 0px;
    top: 300px;
    max-width: 1200px;
    border: 2px solid white;
    box-shadow: 0px 0px 6px #888888;
    object-fit: cover;
    width: 210px;
    height: 210px;
    top: 1px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }


  #list-div {
    margin-top: 0px;
  }

  #offset-column {
    margin-top: 0px;
  }

  #search-icon-not-signed {
    display: none;
  }
}

// BETWEEN SMALL AND MEDIUM SIZE
@media screen and (min-width: 39.9375em) and (max-width: 63.9375em){

  #info-area-gif-column {
    margin-bottom: 45px;
  }

  .profile-container {
    overflow: hidden;
    top: 0;
    width: 100%;
    background: linear-gradient(45deg, #e0e0e0 0%, transparent 100%), url(image-path('geo-hero.png')) no-repeat center;
    background-size: cover;
    margin-bottom: 20px;
    border-bottom: 50px solid white;
    box-shadow: 0px 1px 0px #cacaca;
    height: 318px;
  }

  #profile-picture img {
    text-align: center;
    float: center;
    max-width: 300%;
    width: 210px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 0px;
    top: 300px;
    max-width: 1200px;
    border: 2px solid white;
    box-shadow: 0px 0px 6px #888888;
    object-fit: cover;
    width: 210px;
    height: 210px;
    position: absolute;
    left: 35%;
    right: 35%;
    top: 70px;
  }

  #follow-button {
    border-right: 0px;
    border-left: 1px solid #cacaca;
  }

  #followers-button {
    border-right: 0px;
    border-left: 1px solid #cacaca;
  }


  #list-div {
    margin-top: 0px;
  }

  #offset-column {
    margin-top: 0px;
  }

  #search-icon {
    display: none;
  }

}

// MEDIUM SCREEN
@media screen and (min-width: 64em) and (max-width: 75em) {

}

// MEDIUM AND UP
@media screen and (min-width: 40em) {
  #movie-info {
    position: inherit;
    margin-top: -20px;
  }
}

#following-check {
  margin-bottom: 2px;
}

#see-all-users a  {
  color: black;
}

// MEDIA SHOW PAGE STYLING

// BETWEEN SMALL AND MEDIUM
@media screen and (min-width: 39.9375em) and (max-width: 63.9375em){
  #show-page-poster {
    padding-left: 0px;
    height: 577.47px;
  }
}

// MEDIUM AND UP
@media screen and (min-width: 40em) {
  #show-page-poster {
    padding-left: 0px;
    height: 577.47px;
  }

  #name-button-hidden {
    border-right: 1px solid #cacaca;
    outline: none;
  }
}

#top-media-show-info h1, h2, h3, h4, h5, h6, p {
  font-family: 'Ubuntu', sans-serif;
  color: #333333;
}

#top-media-show-info h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: 0px;
}

#top-media-show-info p {
  margin-top: 10px;
}

#main-info-card {
  height: 577.47px;
  padding: 15px;
  margin: 0px;
  background: linear-gradient(-45deg, #e2e2e2 0%, transparent 100%), url(image-path('geo-hero-show.png')) no-repeat center;
  background-size: cover;
}

#main-info-card p {
  border-bottom: 1px solid #808080;
  border-top: 1px solid #808080;
  padding-top: 10px;
  padding-bottom: 10px;
}

#show-data {
  display: block;
  padding: 0px;
  padding-bottom: 15px;
}

.data-info {
  margin-left: 0px;
}

#show-data-info {
  margin-top: 15px;
}

#show-data-info h5 {
  text-transform: uppercase;
  letter-spacing: 1px;
}

#top-media-show-info {
  margin-top: 15px;
  font-family: 'Ubuntu', sans-serif;
}

#way-top {
  background-color: transparent;
  height: 68px;
}

#show-back-button {
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: fixed;
  top: 10;
  left: 1%;
  outline: none;
}

#show-back-button:hover {
  font-weight: bold;
}

#cast-tile {
  padding: 0px;
  padding-top: 15px;
}

#show-page-poster img {
  padding-left: 0px;
  height: 577.47px;
}

// SMALL ONLY
@media screen and (max-width: 39.9375em) {
  #main-info-card {
    height: auto;
    padding: 25px;
  }

  #show-page-poster {
    text-align: center;
  }

}

// BETWEEN MEDIUM AND SMALL
@media screen and (min-width: 39.9375em) and (max-width: 63.9375em){
  #main-info-card {
    height: auto;
    padding: 45px;
  }

  #show-page-poster {
    text-align: center;
  }
}

#source-button {
  margin: 6px;
}

// SOURCES STYLING

#source-list-li {
  display: inline;
  margin: 6px;
  margin-top: 50px;
}

#source-list-ul {

}

#source-button {
  color: #333333;
  border: 1px solid #333333;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 8px;
  outline: none;
}

#source-button:hover {
  background-color: #333333;
  color: white;
}

// LANDING PAGE

.landing-top-div {
  background: url(image-path('geo-background.png')) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  opacity: 0.25;
  z-index: -10;
  position: absolute;;
  top: 0;
  left: 0;
}

#signup-row {
  text-transform: uppercase;
  font-family: 'Dosis', sans-serif;
  letter-spacing: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -334px;
  margin-top: -100px;
  text-align: center;
  h1 {
    font-family: 'Dosis', sans-serif;
    letter-spacing: 4px;
  }
  h4 {
    font-family: 'Dosis', sans-serif;
  }
}

@media screen and (max-width: 39.9375em) {
  #signup-row {
    margin-left: 0px;
    left: 0%;
    top: 35%;
  }
}

#get-started-button-landing {
  font-family: 'Ubuntu', sans-serif;
  background-color: transparent;
  border: 2px solid black;
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: 7px;
  outline: none;
  text-transform: uppercase;
  color: black;
  padding-right: 10px;
}

#get-started-button-landing:hover {
  background-color: black;
  color: white;
}

.landing-fb-button {
  margin-top: 15px;
}

.info-area-master {

}

#anchor {
  margin-top: 87vh;
  padding-bottom: 25px;
  color: transparent;
}
